.block{
    background-color: #fff;
    transition: all 500ms;
    margin-top: 20px;
}
.block:hover{
    box-shadow:7px 6px 20px 0px black;
    
}
li>a{
    transition: all 500ms;
    margin-left: 8px;
}
li>a:hover{
    background-color: rgb(35, 164, 207);
    color: black;
    transform: scale(1.5);
}